/* body { */
    /* background-color: #f9cdad; */
/* } */

#logo {
    font-family: "Nerko One", sans-serif;
    margin: 0px;
}

body {
    font-family: monospace;
    width: auto;
    height: auto;
    margin: 0px;
    font-size: 2vw;
}

body > header {
    background-color: #c8c8a9;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid;
}

nav ul {
    display: flex;                  /* align horizontally */
    list-style: none;               /* removes bullet point */  
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li {
    margin: 20px;
    font-family: monospace;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

